<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
			<table>
			<tr>
				<td>
					<button><a href="https://www.youtube.com/">იუთუბი</a></button>
				</td>
				<td><button><a href="http://127.0.0.1:5000/first"> შემდეგი</a></button></td>
				<td><button><a href="http://127.0.0.1:5000/registration"> რეგისტრაცია</a></button></td>
			</tr>
		</table>

	{% block content %} 
	{% endblock %}
		<footer>
			<h3>კონტაქტი</h3>
			<ul>
				<li><a href="https://www.facebook.com/giorgi.megrelishvili.583"> ფბ გვერდი</a></li>
			</ul>
		</footer>
	</body>
</html>
