<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<table>
			<tr>
				<td>
					<button><a href="https://www.youtube.com/">იუთუბი</a></button>
				</td>
				<td><button><a href="file:///home/giorgi/Desktop/web_testing/first.html"> შემდეგი</a></button></td>
				<td><button><a href="file:///home/giorgi/Desktop/web_testing/registration.html"> რეგისტრაცია</a></button></td>
			</tr>
		</table>
		<!-- <ul>
			<li><a href="#">home page</a></li>
			<li><a href="#"> about</a></li>
		</ul> -->
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Gbw8h-I3QGk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<div>
			<img src="https://images.unsplash.com/photo-1525389999255-82bad487f23c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="gio" >
		</div>
		<footer>
			<h3>კონტაქტი</h3>
			<ul>
				<li><a href="https://www.facebook.com/giorgi.megrelishvili.583"> ფბ გვერდი</a></li>
			</ul>
		</footer>
	</body>
</html>
