{% extends 'base.html' %}

{% block title %}
18+
{% endblock %}


{% block content %}

<div class="alert alert-danger" role="alert">
   მოცემულ საიტებზე შესასვლელად საჭიროა ავტორიზაციის გავლა
</div>


<h4> Login - ავტორიზაცია </h4>

<form method="post" style="margin-left: 10px; width: 50%">
    <input type="text"  name="user" class="form-control" placeholder="სახელი"> <br>
    <input type="text" name="last" class="form-control" placeholder="გვარი">
    <br><br>
    <button type="submit" class="btn btn-primary">შესვლა</button>
</form>

{% endblock %}
