{% extends 'base.html' %}

{% block title %}
მანქანები
{% endblock %}


{% block content %}
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="https://www.myauto.ge/ka/">myauto.ge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://autopapa.ge/ge">autopapa.ge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.auto.ge/">auto.ge</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.myparts.ge/ka/">myparts.ge</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://juba.ge/ka/">juba.ge</a>
    </li>
    <li class="nav-item">
      <a href="{{ url_for('home') }}">მთავარი გვერდი</a>
    </li>

  </ul>
{% endblock %}
