{% extends 'base.html' %}

{% block title %}
გართობა
{% endblock %}


{% block content %}
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="https://www.youtube.com/">youtube.com</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.myvideo.ge/">myvideo.ge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://vitu.be/">vitu.be</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://icine.ge/">gaicine.ge</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('home') }}">მთავარი გვერდი</a>
    </li>
    <li class="nav-item">
        <a href="https://www.facebook.com/giorgi.megrelishvili.583/" >დამაფოლოვე ძმა:)
    </li>
  </ul>
{% endblock %}