{% extends 'base.html' %}

{% block title %}
ამანათები
{% endblock %}


{% block content %}
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="https://maleo.ge/">maleo.ge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.usa2georgia.com/">usa2georgia.com</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://postalon.com/">postalon.com</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://www.inex.ge/">inex.ge</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://ebg.ge/">ebg.ge</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('home') }}">მთავარი გვერდი</a>
    </li>
  </ul>
{% endblock %}