{% extends 'base.html' %}

{% block title %}
საძიებო სისტემები
{% endblock %}


{% block content %}
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="https://www.google.ge/">google.ge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.yahoo.com/">yahoo.com</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://yandex.ru/">yandex.ru</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.bing.com/">www.bing.com</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://www.baidu.com/">baidu.com</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://duckduckgo.com/">duckduckgo.com</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('home') }}">მთავარი გვერდი</a>
    </li>
  </ul>
{% endblock %}